<!DOCTYPE html>
<html lang="ca"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login social</title>
</head>
<body>
	<div th:if="${error}">
		Error d'identificació (bad credentials).
	</div>
    <h1 th:text="Hola + ' ' + ${name}">
      Hola!
    </h1>
    <p>
      Entrar fent servir GitHub
      <a href="/login/github">Login a Github</a>       
    </p>
     <p>
      Entrar fent servir Google
      <a href="/login/google">Login a Google</a>       
    </p>    
     <p>         
      Entrar fent servir Facebook
      <a href="/login/facebook">Login a Facebook</a>       
    </p> 
    <p>   
      Entrar fent servir Twitter
      <a href="/login/twitter">Login a Twitter</a>       
    </p>
    <form th:action="@{/logout}" action="/logout" method="post">    	
		<button>Logout</button>
	</form>
  </body>
</html>
